<img src={{@financedProject.illustrationUrl}} alt="" role="none" />
<img
  src="{{this.rootURL}}/icon-flag-{{@financedProject.businessAddressCountryCode}}.svg"
  alt="{{@financedProject.name}}'s business country flag ({{@financedProject.businessAddressCountryCode}})"
/>

<h3>{{@financedProject.name}}</h3>

<p>{{@financedProject.grade}}</p>

<p>{{@financedProject.durationSinceOnlineInMonths}} months ago</p>
