{{page-title "Projects"}}

<h2>{{@model.onlineProjects.length}} projects online</h2>
{{#each @model.onlineProjects as |onlineProject|}}
  <img src={{onlineProject.illustrationUrl}} alt="" role="none" />
  <h3>{{onlineProject.name}}</h3>
{{/each}}

<h2>Financed projects</h2>
{{#each @model.financedProjects as |financedProject|}}
  <img src={{financedProject.illustrationUrl}} alt="" role="none" />
  <h3>{{financedProject.name}}</h3>
{{/each}}

{{outlet}}